body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
}

nav {
  margin: 0 20px;
  height: 50px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: inherit;
  color: black;
  margin-left: 15px;
  font-size: 1.3rem;
  font-weight: 700;
}

nav .shoppingCart {
  margin-left: auto;
  margin-right: 20px;
  font-size: 1.4rem;
  cursor: pointer;
}

nav .shoppingCart span {
  margin-right: 5px;
}