.home {
  text-align: center;
}

.home img {
  width: 70%;
  border-radius: 10px;
}

.home strong {
  display: block;
  margin: 40px 0 10px 0;
}

.home p {
  text-align: left;
  width: 60%;
  margin: 20px auto 15px auto;
}

.home button {
  background: #f8f8f8;
  border: 2px solid #333;
  border-radius: 15px;
  font-size: 1.4rem;
  padding: 5px 8px;
  margin-top: 25px;
  cursor: pointer;
}

.home button:focus {
  outline: none;
}

.home button:hover {
  background: #e8e8e8;
}